* {
  color: #333;
  font-family: "Open Sans", sans-serif;
}
body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body::after {
  content: "";
  background-color: #ffffff4d;
  position: absolute;
  left: 17px;
  top: 0;
  right: 34px;
  height: 100vh;
  border-radius: 10px;
  z-index: -1;
}
h1 {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-size: 36px;
}
form {
  margin-bottom: 20px;
  box-shadow: -2px 3px 7px 0px rgb(255 235 59 / 69%);
}
i {
  font-style: normal;
}

.task {
  color: #616161;
  padding: 20px;
  border-left: 5px solid #eee;
  transition: 0.6s;
}
.task:hover {
  cursor: pointer;
  opacity: 0.64;
}
.task p:last-child {
  margin-bottom: 0;
}
.task + .task {
  margin-top: -5px;
}
.task-success {
  background-color: #8bc34aad;
  border-left-color: #008a06;
  text-decoration: line-through;
  color: white;
  font-style: italic;
  border-radius: 10px;
  z-index: 10;
}
.task-success:hover {
  transform: scale(1.1, 1.1);
}

.task-info {
  background-color: #ffeb3ba8;
  border-left-color: #ff9800c7;
  border-radius: 10px;

  z-index: 20;
}
.task-info:hover {
  transform: scale(1.1, 1.1);
}
